<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Uren Registratie</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/mdl/material.min.css">
    <link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css">
    <script src="/assets/jq/jq.js"></script>
    <script src="/assets/mdl/material.js"></script>
    <script src="/assets/js/script.js"></script>
</head>
<body class="loginWallpaper">
{% block body %}
{% endblock body %}
</body>
</html>